<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wzp.project.majiang">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 操作外部存储资源 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="wzp.project.majiang.widget.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/phone"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.DailActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivity">
        </activity>

        <activity android:name=".activity.ShowMajiangActivity">
        </activity>

        <activity android:name=".activity.ShowHandMajiangActivity">
        </activity>

        <activity android:name=".activity.ShowBaopaiActivity">
        </activity>

        <activity android:name=".activity.RecognizeDirectionActivity">
        </activity>

        <activity android:name=".activity.SettingActivity">
        </activity>

        <activity
            android:name=".activity.DeviceListActivity"
            android:theme="@android:style/Theme.Dialog"
            android:launchMode="singleTop">
        </activity>

        <activity android:name=".activity.ShowPlayMethodActivity">
        </activity>


        <activity android:name=".activity.EditChooseCardMethodActivity">
        </activity>

        <activity android:name=".activity.EditPlayMethodActivity" />

        <activity android:name=".activity.ReceiveSendFileActivity" />

        <activity android:name=".activity.ChooseFunctionActivity" />

        <activity android:name=".activity.DailManualActivity" />

        <activity android:name=".activity.StudyTestActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="wzp.project.majiang.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>